{% extends "base_generic.html" %}

{% block title %}
    <title>HUFS Local Library</title>
{% endblock %}

{% block content %}
    <h1>HUFS Local Library</h1>
    <p>Welcome to HUFS Local Library. Website developed by <em>jaesung Lee</em></p>
    <h2>Contents</h2>
    <p>We have the following record counts below:</p>
    <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
    </ul>

    <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}